# Store as ~/.config/systemd/user/jukebox.service
# Activate: systemctl --user enable meine_unit.service; sudo loginctl enable-linger NUTZER 
# Logs: journalctl --user 

[Unit]
Description=Rustberry Jukebox
#Requires=raspotify.service

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/jukebox/jukeboxd.wrapper

[Install]
WantedBy=default.target
